flask==3.1.1
flask-cors==5.0.1
flask-sqlalchemy==3.1.1
flask-bcrypt==1.0.1
psycopg2-binary==2.9.10
python-dotenv==1.1.0
PyJWT==2.10.1
deepface==0.0.93
opencv-python-headless==4.11.0.86
Pillow==11.2.1
chromadb==0.6.3
langchain==0.3.25
langchain-groq==0.3.2
langgraph==0.4.1
groq==0.25.0
numpy==2.2.6
scikit-learn==1.6.1
cloudinary==1.41.0
gunicorn==23.0.0